*{
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f97316, #ea580c);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #fb923c, #f97316);
}

select[multiple] {
    height: 100px;
    background-color: #1a1a1a;
    border: 1px solid #4b5563;
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: #d1d5db;
}
select[multiple]:focus {
    outline: none;
    border-color: #f97316;
    box-shadow: 0 0 0 2px rgba(249, 115, 22, 0.2);
}

.animate-rotate {
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.django-message {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 1;
    transform: translateX(0);
}

.fade-out {
    opacity: 0;
    transform: translateX(100%);
    display: none;
}